docs/whitepaperV1.md
**/target/
/graph_queries/
/graph_data/
/testing/
/dst/
count.sh
/queries/
**/node_modules/
**/*.txt
**/trump-map/
**/call.sh
**/*.json
.DS_Store
push.sh
.vscode/
data/
venv/

dpedia_openai_ground_truths.csv
dpedia_openai_ground_truths_1m.csv
helixdb_test/